*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

node_modules
.expo/web
# Android/IntelliJ
#
.gradle
local.properties
*.iml
*.hprof
.cxx/
# node.js
#
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
# Bundle artifact
*.jsbundle
# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/